


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Matter-Thin';
    src: url('./fonts/Matter-Thin.ttf');
}



@font-face {
    font-family: 'Matter-Light';
    src: url('./fonts/Matter-Light.ttf');
}
@font-face {
    font-family: 'Matter-Regular';
    src: url('./fonts/Matter-Regular.ttf');
}
@font-face {
    font-family: 'Matter-Bold';
    src: url('./fonts/Matter-Bold.ttf');
}
@font-face {
    font-family: 'Matter-Medium';
    src: url('./fonts/Matter-Medium.ttf');
}
@font-face {
    font-family: 'Matter-Black';
    src: url('./fonts/Matter-Black.ttf');
}





